@mixin background-gradient($direction, $inverseDirection, $gradient) {
  background: -webkit-linear-gradient($inverseDirection, $gradient);
  background: -o-linear-gradient($direction, $gradient);
  background: -moz-linear-gradient($direction, $gradient);
  background: linear-gradient(to $direction, $gradient);
}
