.weather-map button {
  pointer-events: auto;
  cursor: pointer;
  border: 0;
  padding:0;
  overflow:visible; // removes padding in IE

  &::-moz-focus-inner { // removes padding in Firefox
    border:none;
    padding:0;
  }

  // Some devices put their own glow or highlight colour on buttons when pressed.
  // This sets that to 0 alpha or transparent (some browsers work with one, some the other)
  // so that only our styling is applied.
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: transparent;
}

