@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin button-hover-transition {
  @include transition(background-color 0.4s ease-out);
}
