.close-button {

  display: none;
  position: absolute;

  width: 40px;
  height: 40px;

  top: 16px;
  right: 16px;

  @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
  @include user-select(none);

  font-size: 1em;

  &:hover {
    background-color: $blue;
  }

  &:focus {
    outline: none;
  }

}

.close-button__label {

  @extend %icon-close;
  background-position: top center;

  display: block;

  height: 13px;
  margin-left: -1px;

  @include hide-text;
}

&.weather-map--fullscreen {

  .close-button {
    display: block;
  }

}

&.weather-map--no-touch {

  .close-button {

    @include button-hover-transition;

    &:focus {
      background-color: $blue;
    }

  }

}

&.weather-map--no-svg {

  .close-button__label {
    @extend %icon-png-close;
  }

}
