.control-group {
  overflow: auto;
}

.control-group--playback {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include bgcolor-rgba-with-fallback($dark-grey-less-alpha, $light-grey);
  @include user-select(none);

  .filler {
    height: 44px;
    margin-left: 45px;
    margin-right: 90px;
  }
}

&.weather-map--active {

  .control-group--playback {
    display: block;
  }

}
