.day-time {
  display: none;
  position: absolute;
  bottom: 116px;
  left: 16px;
  padding: 0;
  border: 0;
  background: $black;
  z-index: 175;
  pointer-events: auto;
  @include user-select(none);

  .day-time__label {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    color: $white;
    height: 100%;
  }

  .day-time__label--day {
    background: $blue;
    font-weight: bold;
  }

  .day-time__label--hidden {
    display: none;
  }
}

&.weather-map--active {

  .day-time {
    display: block;
  }

  .day-time--hidden {
    display: none;
  }

}