$button-width: 145px;
$button-height: 65px;

.fullscreen-button {

  width: $button-width;
  height: $button-height;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($button-width / 2);
  margin-top: -($button-height / 2);

  @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
  color: $white;

  font-size: 1em;

  &:hover {
    background-color: $blue;
  }

  &:focus {
    outline: none;
  }

}

.fullscreen-button__icon {
  @extend %icon-fullscreen;
  background-position: 0 50%;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 32px;
}

.fullscreen-button__label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

&.weather-map--active {

  .fullscreen-button {
    display: none;
  }

}

&.weather-map--no-touch {

  .fullscreen-button {
    @include button-hover-transition;

    &:focus {
      background-color: $blue;
    }
  }

}

&.weather-map--no-svg {

  .fullscreen-button__icon {
    @extend %icon-png-fullscreen;
  }

}
