.key-button {

  display: none;
  position: absolute;

  width: 40px;
  height: 40px;

  top: 16px;
  right: 16px;
  padding: 0;

  @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
  @include user-select(none);

  font-size: 1em;

  &:hover {
    background-color: $blue;
  }

  &:focus {
    outline: none;
  }

}

.key-button__label {

  @extend %icon-info;
  background-position: top center;

  display: block;

  height: 20px;

  @include hide-text;
}

&.weather-map--no-touch {

  .key-button {
    @include button-hover-transition;

    &:focus {
      background-color: $blue;
    }
  }

}

&.weather-map--fullscreen {

  .key-button {
    top: 57px;
  }

}

&.weather-map--active {

  .key-button {
    display: block;
  }

}

&.weather-map--no-svg {

  .key-button__label {
    @extend %icon-png-info;
  }

}
