@mixin key-panel-transition {
  @include transition(margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out);
}

.key-panel {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: -320px;
  visibility: hidden;
  opacity: 0;
  @include key-panel-transition;
  text-align: center;
  background-color: $white;
  color: $off-black;
  z-index: 200;
  pointer-events: auto;

  .key-panel__title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin: 20px 15px;
  }

  .key-panel__container {
    max-width: $site-max-width;
    margin: 0px auto 10px auto;
    text-align: left;
    border-spacing: 15px 10px;
  }

  .key-panel__row {
    width: 100%;
    display: table;

    .key-panel__row__el {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .key-panel__label {
    width: 55px;
  }

  .key-panel__indicator {
    width: 50px;
    font-size: small;
    color: $light-grey;
  }

  .key-panel__gradient {
    padding: 5px 0px;
    background-size: 100% 100%;
    text-align: center;
    color: $white;
    width: auto;
    font-size: x-small;
  }

  .key-panel__gradient--cloud-land {
    @include background-gradient(right, left, $cloud-land-gradient);
    @extend %icon-key-cloud-land;
  }

  .key-panel__gradient--cloud-sea {
    @include background-gradient(right, left, $cloud-sea-gradient);
    @extend %icon-key-cloud-sea;
  }

  .key-panel__gradient--rainfall {
    @include background-gradient(right, left, $rainfall-gradient);
    @extend %icon-key-rainfall;
  }

  .key-panel__gradient--snowfall {
    @include background-gradient(right, left, $snowfall-gradient);
    @extend %icon-key-snowfall;
  }

  .key-panel__gradient--fog {
    @include background-gradient(right, left, $fog-gradient);
    @extend %icon-key-fog;
  }

  .key-panel__gradient--frost {
    @include background-gradient(right, left, $frost-gradient);
    @extend %icon-key-frost;
  }

  .key-panel__gradient__heavy-label {
    background: $white;
    color: $light-grey;
    padding: 2px;
  }

  .key-panel__close-button {

    pointer-events: auto;
    cursor: pointer;

    width: 40px;
    height: 40px;

    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;

    @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
    border: 0;

    font-size: 1em;

    &:hover {
      background-color: $blue;
    }

    &:focus {
      outline: none;
    }

  }

  .key-panel__close-label {
    @extend %icon-close;

    display: block;
    width: 13px;
    height: 13px;
    margin-top: 1px;
    margin-left: 13px;

    @include hide-text;
  }

}

.key-panel--open {
  @include key-panel-transition;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

&.weather-map--no-touch {

  .key-panel__close-button {

    @include button-hover-transition;

    &:focus {
      background-color: $blue;
    }

  }

}

&.weather-map--no-svg {

  .key-panel {

    .key-panel__close-label {
      @extend %icon-png-close;
    }

    .key-panel__gradient--cloud-land {
      @extend %icon-png-key-cloud-land;
    }

    .key-panel__gradient--cloud-sea {
      @extend %icon-png-key-cloud-sea;
    }

    .key-panel__gradient--rainfall {
      @extend %icon-png-key-rainfall;
    }

    .key-panel__gradient--snowfall {
      @extend %icon-png-key-snowfall;
    }

    .key-panel__gradient--fog {
      @extend %icon-png-key-fog;
    }

    .key-panel__gradient--frost {
      @extend %icon-png-key-frost;
    }

  }

}
