.play-button {
  position: relative;
  display: none;
  float: left;

  cursor: pointer;

  width: 44px;
  height: 44px;

  margin-right: 1px;

  @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
  @include button-hover-transition;
  @include user-select(none);

  &:hover {
    background-color: $blue;
  }

  &:focus {
    outline: none;
  }

}

.play-button__label {

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 15px;
  height: 17px;
  margin-top: -8px;
  margin-left: -7px;

  @extend %icon-play;

  @include hide-text;
}

.play-button--pause {
  .play-button__label {
    @extend %icon-pause;
  }
}

.play-button--replay {
  .play-button__label{
    @extend %icon-replay;
  }
}

&.weather-map--active {

  .play-button {
    display: block;
  }

}

&.weather-map--no-touch {

  .play-button:focus {
    background-color: $blue;
  }

}

&.weather-map--no-svg {

  .play-button__label {
    @extend %icon-png-play;
  }

  .play-button--pause {
    .play-button__label {
      @extend %icon-png-pause;
    }
  }

  .play-button--replay {
    .play-button__label{
      @extend %icon-png-replay;
    }
  }
}
