.seek {
  display: none;

  height: 55px;
  width: 100%;

  @include user-select(none);
  pointer-events: auto;
  cursor: pointer;

  box-sizing: border-box;
  padding: 8px 15px;
}

.seek__container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.seek__marker {
  float: left;
  position: absolute;
  top: 12px;
  border-left: 1px solid $white;
  height: 9px;
  box-sizing: border-box;
  width: 0px;
}

.seek__marker--with-label {
  top: 0px;
  height: 21px;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 3px;
}

.seek__seek-bar {
  height: 10px;
  background: $dark-grey;
  z-index: 1;
  position: relative;
  top: 27px;
  white-space: nowrap;
}

.seek__slider {
  @extend %icon-seek-slider;
  width: 9px;
  height: 17px;
  position: relative;
  display: inline-block;
  top: -3px;
  left: -4px;
}

.seek__time-passed {
  background: $blue;
  height: 100%;
  width: 0%;
  display: inline-block;
  vertical-align: top;
}

/** Group <2 Devices */
@media screen and (max-width: 599px) {

  .seek {
    height: 40px;
  }

  .seek__seek-bar {
    top: 7px;
  }

  .seek__marker {
     display: none;
  }

  .seek__slider {
    top: -4px;
    height: 18px;
    background-color: $white;
  }

}

&.weather-map--no-svg {

  .seek__slider {
    @extend %icon-png-seek-slider;
  }
}

&.weather-map--active {

  .seek {
    display: block;
  }

}
