$stepper__button-height: 44px;
$stepper__button-width: 44px;

.stepper {
  display: none;
  float: right;

  @include user-select(none);
}

.stepper__button {

  position: relative;
  display: inline-block;
  margin-left: 1px;

  cursor: pointer;

  width: $stepper__button-width;
  height: $stepper__button-height;

  @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);

  @include hide-text;

  &:hover {
    background-color: $blue;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    // Prevents the background color changing on hover when the button
    // is disabled.
    @include bgcolor-rgba-with-fallback($dark-grey-alpha, $dark-grey);
  }

}

.stepper__button-icon {
  display: block;

  height: 17px;
  margin: 0;

  background-position: top center;

  top: 50%;
  left: 50%;
}

.stepper__button--previous {
  .stepper__button-icon {
    @extend %icon-previous;
    margin-left: -5px;
  }

  &[disabled] {
    .stepper__button-icon {
      @extend %icon-previous-disabled;
    }
  }
}

.stepper__button--next {
  .stepper__button-icon {
    @extend %icon-next;
  }

  &[disabled] {
    .stepper__button-icon {
      @extend %icon-next-disabled;
    }
  }
}

&.weather-map--no-touch {

  .stepper__button {
    @include button-hover-transition;

    &:focus {
      background-color: $blue;
    }
  }

}

&.weather-map--active {

  .stepper {
    display: block;
  }

}

&.weather-map--no-svg {

  .stepper__button--previous {
    .stepper__button-icon {
      @extend %icon-png-previous;
    }

    &[disabled] {
      .stepper__button-icon {
        @extend %icon-png-previous-disabled;
      }
    }
  }

  .stepper__button--next {
    .stepper__button-icon {
      @extend %icon-png-next;
    }

    &[disabled] {
      .stepper__button-icon {
        @extend %icon-png-next-disabled;
      }
    }
  }

}
