html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    font-size: 13px;
    background: #336c99;
    color: #fff;
}

p {
    font-size: 16px;
}

.header {
    background: #fff;
    color: #000;
}

.header__inner {
    padding: 12px 0;
    position: relative;
}

.b-g-p {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.header__logo {
    background: url(../img/bbc.svg) no-repeat top left;
    width: 84px;
    height: 24px;
    text-indent: -1000px;
}

.header__heading {
    font-weight: normal;
    display: block;
    position: absolute;
    right: 12px;
    top: 10px;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
}

.weather-map {
    width: 100%;
    height: 0;
}

.weather-map--loaded {
    height: 180px;
}

.weather-map--desktop {
  height: 600px;
}

.weather-map--touch {
  height: 300px;
}

@media(min-width: 760px) {
    .b-g-p {
        margin: 0 auto;
        width: 760px;
        padding-left: 0;
        padding-right: 0;
    }
}
