/* Vendor */
@import 'vendor/leaflet';

/* Variables */
@import 'variables/colours';
@import 'variables/layout';

/* Helpers */
@import 'helpers/bg-gradient';
@import 'helpers/fill_container';
@import 'helpers/hide';
@import 'helpers/rgba';
@import 'helpers/reset';
@import 'helpers/transition';
@import 'helpers/user-select';

/* Icons */
@import 'icons/icons-data-svg';
@import 'icons/icons-data-png';

.weather-map {

  font-size: 13px;
  position: relative;
  overflow: hidden;

  &.weather-map--fullscreen {
    position: fixed;
    @include fill-container;
    z-index: 150;
  }

  /* Components */
  @import 'component/control/fullscreen_button';
  @import 'component/control/close_button';
  @import 'component/control/daytime';
  @import 'component/control/stepper';
  @import 'component/control/key_button';
  @import 'component/control/key_panel';
  @import 'component/control/filler';
  @import 'component/control/control_group';
  @import 'component/control/seek';
  @import 'component/control/play_button';
  @import 'component/marker/location';

}

.weather-map__map {
  @extend %icon-background;
  background-repeat: repeat;
  background-color: #4d81a4;

  @include fill-container;

  // Leaflet uses a grab cursor, we only want to display this when the
  // map is interactive.
  cursor: default;
}

.weather-map__controls {
  position: absolute;
  @include fill-container;
  pointer-events: none;
  z-index: 10;
}

.weather-map--active {
  .weather-map__map {
    // Set back to a grab cursor if the map is active
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }
}

.weather-map--dragging {
  .weather-map__map {
    // Set to a dragging cursor when the map is being dragged
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.weather-map--desktop {

  .weather-map__controls {
      width: 976px;
      left: 50%;
      margin-left: -488px;
  }

}
