.weather-map__location-marker {
  overflow: visible;
  cursor: inherit;
  width: auto !important;
  height: auto !important;
  margin: -12px 0 0 -9px !important;
  white-space: nowrap;
  font-weight: bold;
  @include bgcolor-rgba-with-fallback($location-background-alpha, $dark-grey);
}

.weather-map__location-marker--hidden {
  display: none;
}

.location-marker__point {
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 10px;
  left: 7px;
  background: $white;
}

.location-marker__location, .location-marker__temperature {
  display: inline-block;
  padding: 3px 8px;
  margin: 0;
}

.location-marker__location {
  color: $white;
  margin-left: 11px;
}

.location-marker__temperature {
  color: $black;
  position: absolute;
  right: 100%;
}

@include temp-ranges;
