$dark-grey-alpha: rgba(0, 0, 0, 0.9);
$dark-grey-less-alpha: rgba(0, 0, 0, 0.6);
$dark-grey: #111;
$white: #fff;
$black: #000;
$off-black: #1E1E1E;
$light-grey: #505050;
$blue: #3e95ac;
$location-background-alpha: rgba(0, 0, 0, 0.6);

/* Map Key Gradients */
$cloud-land-gradient: rgb(211,190,131), rgb(115,103,70);
$cloud-sea-gradient: rgb(64,126,157), rgb(34,65,80);
$rainfall-gradient: rgb(173,196,171), rgb(147,195,194), rgb(147,195,194), rgb(128,182,198), rgb(115,176,200), rgb(105,168,202), rgb(90,158,202), rgb(85,150,200), rgb(81,144,192), rgb(82,137,190), rgb(79,127,180), rgb(77,120,171), rgb(74,98,153), rgb(74,123,159), rgb(75,140,165), rgb(78,156,171), rgb(78,172,174), rgb(79,182,177), rgb(77,210,176), rgb(71,226,175), rgb(65,236,171), rgb(60,236,132), rgb(58,237,60), rgb(109,236,35), rgb(133,237,36), rgb(151,238,36), rgb(173,237,36), rgb(189,237,36), rgb(210,237,37);
$snowfall-gradient: rgb(212,200,150) 0%,rgb(228,232,222) 9%,rgb(233,241,247) 100%;
$fog-gradient: rgb(208,191,131), rgb(245,242,230);
$frost-gradient: rgb(183,187,156), rgb(139,181,206);

/* Color Heat Ranges */
$temperature-25-up: #ff8700;
$temperature-22-24: #ff9b25;
$temperature-19-21: #ffb230;
$temperature-16-18: #ffcd30;
$temperature-13-15: #ffdc36;
$temperature-10-12: #fff83b;
$temperature-7-9: #defc4e;
$temperature-4-6: #c3ff5d;
$temperature-1-3: #aaffaa;
$temperature-0-down: #69c3ff;


@mixin temp-ranges {
  .temperature-na {
    background-color: #fff;
  }

  .temperature-25-up {
    background-color: $temperature-25-up;
  }

  .temperature-22-24 {
    background-color: $temperature-22-24;
  }

  .temperature-19-21 {
    background-color: $temperature-19-21;
  }

  .temperature-16-18 {
    background-color: $temperature-16-18;
  }

  .temperature-13-15 {
    background-color: $temperature-13-15;
  }

  .temperature-10-12 {
    background-color: $temperature-10-12;
  }

  .temperature-7-9 {
    background-color: $temperature-7-9;
  }

  .temperature-4-6 {
    background-color: $temperature-4-6;
  }

  .temperature-1-3 {
    background-color: $temperature-1-3;
  }

  .temperature-0-down {
    background-color: $temperature-0-down;
  }
}
